{% extends "base.html" %}

{% block title %}Register {{ pi.name }}{% endblock %}

{% block content %}
<section class="register">
    <h2>Register {{ pi.name }}</h2>
    <p>On your Raspberry Pi (headless), run:</p>
    <pre><code>curl -sSL {{ script_url }} | bash</code></pre>
    <p>The script will:</p>
    <ul>
        <li>Generate an SSH key if needed</li>
        <li>Send the public key to this server</li>
        <li>Add the server's public key to the Pi's authorized_keys</li>
        <li>Configure the reverse SSH tunnel (autossh systemd service)</li>
    </ul>
    <p>You will be prompted for the server IP and SSH port (default 2222).</p>
</section>
{% endblock %}
